@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Creator:</strong>   <a href="mailto:chris.williams@readwatchcreate.com">chris.williams@readwatchcreate.com</a><br />
</address>