@{
    ViewBag.Title = "Ask SitecoreGuild";
}

<div class="jumbotron">
    <h1>Ask SitecoreGuild</h1>
    <p class="lead">Ask SitecoreGuild is a free set of applications and plug-ins that allow you to get answers to simple Sitecore questions.</p>
    <p><a href="mailto:chris.williams@readwatchcreate.com" class="btn btn-primary btn-lg">Request Access &raquo;</a></p>
</div>